node_modules
dist
.output
.amplify-hosting
.vinxi
pnpm-lock.yaml
package-lock.json
routeTree.gen.ts
project.inlang/cache
project.inlang/.meta.json
project.inlang/README.md
project.inlang/.lix
public/katex
